<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Victory Admin</title>
    <th:block th:replace="/layout/head"/>
</head>
<body>
<div class="container-scroller">
    <th:block th:replace="/layout/navbar"/>

    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">

            <th:block th:replace="/layout/right-sidebar"/>

            <th:block th:replace="/layout/left-sidebar"/>

            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <h4 class="page-title">Create product page</h4>
                        </div>
                    </div>
                </div>
                <!-- Page Content-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="forms-sample" th:object="${product}" method="post">
                                    <div class="row">
                                        <div class="form-group col-4">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                                        </div>
                                        <div class="form-group col-3">
                                            <label for="price">Price</label>
                                            <input type="number" class="form-control" id="price" name="price" placeholder="Enter price">
                                        </div>
                                        <div class="form-group col-5">
                                            <label for="summary">Summary</label>
                                            <input type="text" class="form-control" id="summary" name="summary" placeholder="Enter summary">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-success mr-2">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <th:block th:replace="/layout/footer"/>

            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<th:block th:replace="/layout/script"/>
</body>

</html>
